<!DOCTYPE html>
{% load static %}
<html lan = 'en'>
<head>
    <meta charset = 'UTF-8'>
    <meta name = "viewport" content = "width=device-width , initial-scale=1.0">
    <title> {% block title %}Other{% endblock title %} </title>
    {% block corecss %}
    <link rel = "stylesheet"  href = "{% static 'core/css/core.css' %}" >
    {% endblock corecss %}
</head>
    <body>
        <nav>
            <ul>
                <li><a href = "/">Home</a></li>
                <li><a href = "/about">About</a></li>
                <li><a href = "{% url 'aboutus' %}">About</a></li>
                <li><a href = "{{abc}}">About</a></li>
                <li><a href = "/cor/django">Django Course</a></li>
                {% url 'courseone' as co %}
                <li><a href = "{{co}}">Django Course</a></li>
            </ul>
        </nav>
        
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-secondary">Secondary</button>
        <font-awesome-icon :icon="['fas', 'skull-crossbones']" />
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-light">Light</button>
        <button type="button" class="btn btn-dark">Dark</button>
        <button type="button" class="btn btn-link">Link</button>

        <h2> {% block content %}{% endblock content %} </h2>
        <h2> {% block content1 %}{% endblock content1 %} </h2>
        <h2> {% block content2 %}{% endblock content2 %} </h2>
    </body>
</html>